@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.bounce-right {
    animation: bounce 1s infinite;
}

@keyframes bounce {
    0%, 100% {
        transform: translatex(25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
        transform: translatex(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

hr.solid {
    border-top: 1px solid #bbb;
    margin: 0.2rem 0.2rem
}

.navbar-fixed-top {
    @apply flex flex-wrap py-6 px-12 justify-between sticky top-0
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.ck-editor__editable {
    min-height: 500px;
    max-height: 600px;
}

.header-table {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider
}

.ck-content > blockquote,
.ck-content > dl,
.ck-content > dd,
.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6,
.ck-content > hr,
.ck-content > figure,
.ck-content > p,
.ck-content > pre {
    margin: revert;
}

.ck-content > ol,
.ck-content > ul {
    list-style: revert;
    margin: revert;
    padding: revert;
}

.ck-content > table {
    border-collapse: revert;
}

.ck-content > h1,
.ck-content > h2,
.ck-content > h3,
.ck-content > h4,
.ck-content > h5,
.ck-content > h6 {
    font-size: revert;
    font-weight: revert;
}

.transparent {
    background-color: rgba(255, 255, 255, 0.5);
}

.layout_footer {
    background-image: linear-gradient(0deg, rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.6)), url('http://placekitten.com.s3.amazonaws.com/homepage-samples/408/287.jpg');
    background-size: cover;
    height: 100px;
}

.leaflet-top.leaflet-left {
    bottom: 100px !important;
    right: 20px !important;
    left: unset;
    top: unset;
}

.leaflet-top.leaflet-right {
    right: unset;
    left: 10px;
}
